* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-bottom: 20px;
    margin-top:60px;
}

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.event-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 20px;
}

.event-card img, .event-card video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.event-card h2 {
    margin-top: 10px;
    font-size: 1.2em;
}

.registration-event {
    margin: 40px 0;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-event h2 {
    margin-bottom: 20px;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: rgb(0, 0, 0);
    margin-top: 40px;
}

footer a {
    color: #ddd;
    text-decoration: none;
}

footer a:hover {
    color: white;
}
